{% extends "base.html" %}
{% load web_extras %}

{% block body %}
<div class="player">
  <div style="width:100%" id="playerContainer"></div>
</div>
<div>
  <form class="form-horizontal" method="GET" action="">
    <div class="form-group">
      <div class="col-md-12">
        <select name="userid" class="user-select form-control">
          {% for user in users %}
          <option value="{{ user.id }}">{{ user.username }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
  </form>
</div>
<table class="table table-stripped">
  <thead>
    <th></th>
    <th>Title</th>
    <th>Artist</th>
    <th>Duration</th>
  </thead>
  <tbody>
    {% for track in tracks %}
    <tr>
      <td><span data-trackid="{{ track.id }}" data-index="{{ forloop.counter }}" class="glyphicon glyphicon-play-circle play-track" aria-hidden="true"></span></td>
      <td>{{ track.title|truncatechars:50 }}</td>
      <td>{{ track.user.username }}</td>
      <td align=right>{{ track.duration|nice_duration }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
