{% extends "base.html" %}
{% load web_extras %}

{% block body %}
<div class="row">
  <div class="col-md-2">
    <h3>Users</h3>
    <ul class="list-group">
      {% for user in users %}
      <a href="?userid={{ user.id }}">
        <li class="list-group-item {% if user == cur_user %}active{% endif %}">
          {{ user.username }}
        </li>
      </a>
      {% endfor %}
    </ul>
  </div>
  <div class="col-md-10">
<div class="player">
  <div style="width:100%" id="playerContainer"></div>
</div>
<div>
<table class="table table-stripped">
  <thead>
    <th></th>
    <th>Title</th>
    <th>Artist</th>
    <th>Duration</th>
  </thead>
  <tbody>
    {% for track in tracks %}
    <tr>
      <td><span data-trackid="{{ track.id }}" data-index="{{ forloop.counter }}" class="glyphicon glyphicon-play-circle play-track" aria-hidden="true"></span></td>
      <td>{{ track.title|truncatechars:50 }}</td>
      <td>{{ track.user.username }}</td>
      <td align=right>{{ track.duration|nice_duration }}</td>
    </tr>
    {% endfor %}
</table>
</div>
{% endblock %}
